body {
    padding: 15px;
    background-color: #16c79a;
    font-family: sans-serif;
    color: #f8f1f1
}

#title {
    padding: 10px;
    font-size: 24px;
    border: 2px solid white;
    width: 185px;
}

#header {
    font-size: 36px;
}

ul {
    list-style: none;
    padding-left: 0;
    width: 250px;
}

li {
    color: #f8f1f1;
    background-color: #19456b;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.remaining {
    padding: 10px;
    border: 2px solid white;
    width: 310px;
}